<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
  </head>
  <body>
    <div id="indexHeader" class="header">
      <h1>
        Note Taking App
      </h1>
    </div>

    <div id="indexContent">
      <div id="loginBox" class="indexBox">
        <h1>
          Login
        </h1>
        <form id="loginForm" action="/login" method="post">
          <label for="username">
            Username:
            <br>
            <input type="text" id="username" name="username">
          </label>
          <br>
          <label for="password">
            Password:
            <br>
            <input type="text" id="password" name="password">
          </label>
          <br>
          <button type="submit">Sign In</button>
        </form>
        <br>
      </div>

      <br><br>

      <div id="registerBox" class="indexBox">
        <h1>
          Register
        </h1>
        <form id="registerForm" action="/register" method="post">
          <label for="username">
            Username:
            <br>
            <input type="text" id="regUsername" name="username">
          </label>
          <br>
          <label for="password">
            Password:
            <br>
            <input type="text" id="regPassword" name="password">
          </label>
          <br>
          <label for="password">
            Retype Password:
            <br>
            <input type="text" id="regConfirmPassword" name="confirmPassword">
          </label>
          <br>
          <button type="submit">Register</button>
        </form>
      </div>



    </div>
  </body>
</html>
