<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
  </head>
  <body>
    <div id="indexHeader">
      <h1>
        Note Taking App
      </h1>
    </div>

    <div id="indexContent">
      <div id="loginBox">
        <h1>
          Sign In / Sign Up
        </h1>
        <form id="loginForm">
          <label for="username">
            Username:
            <br>
            <input type="text" id="username" name="username">
          </label>
          <br>
          <label for="password">
            Password:
            <br>
            <input type="text" id="password" name="password">
          </label>
          <br>
          <button type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>
