include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#createNoteContent.content
  form#createNoteForm(action='/note' method='post')
    label(for='createNoteTopic')
      |Topic:
      input#createNoteTopic(type='text' name='createNoteTopic')
    br
    label(for='createNoteTitle')
      |Title:
      input#createNoteTitle(type='text' name='createNoteTitle')
    br
    lable(for='createNoteNote')
      |note (Parsed by pug)
      br
      textarea#createNoteNote(name='createNoteNote')
    br
    label(for='tags')
      |Tags (input tags separated by commas)
      input#createNoteTags(type='text' name='createNoteTags')
    br
    button(type='submit') Submit
  script(src='./public/textareaFix.js' type="text/javascript")
