include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
#indexHeader.header
  #leftOfHeader
  h1
    |Note Taking App
  #rightOfHeader
#indexContent.content
  #loginBox.indexBox
    h1
      | Login
    form#loginForm(action='/login' method='post')
      label(for='username')
        | Username:
        br
        input#username(type='text' name='username')
      br
      label(for='password')
        | Password:
        br
        input#password(type='password' name='password')
      br
      button(type='submit') Sign In
    br
  br
  br
  #registerBox.indexBox
    h1
      | Register
    form#registerForm(action='/register' method='post')
      label(for='username')
        | Username:
        br
        input#regUsername(type='text' name='username')
      br
      label(for='password')
        | Password:
        br
        input#regPassword(type='password' name='password')
      br
      label(for='password')
        | Retype Password:
        br
        input#regConfirmPassword(type='password' name='confirmPassword')
      br
      button(type='submit') Register
