include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='/public/styles.css')
body
  +universalHeader
  #markdownContent.content
    h1
      |Notes you take will be rendered via markdown for added styling:
    a(href=(referrer ? referrer : '/'))
      |Cool, take me back
    br
    #markdownExample
      #plainText
        each line in text.split('\n')
          p #{line}

      #renderedText
        !=content
