octype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
#noteHeader.header
  h1
    | #{topic}
    a(href='/logout' id="logoutButton")
      | Logout
#noteContent.content
  h1
    |#{title}
  h3
    |Created on: #{createdOn}
  #noteMainContent
    !=content
