include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
  +universalHeader
  #profileContent.content
    h2
      |Welcome, #{user}
    #topicContainer
      if !topicList
        h1#noTopicsFound
          |No Topics Found!
          br
          |Add some topics to organize your notes
      else
        ul#topicList
          each topic in topicList
            li(class="topic")
              a(href='/topic/'+ topic class="topicLink")
                |#{topic} (#{topicData[topic]})
    #createTopic
      form#newTopicForm(action='/topic' method="post")
        h3#createTopicHeader
          |Create a New Topic
        #createTopicBody
          label(for='topic')
            |New Topic Name:
            input#topicInput(type="text" name="topic" minlength="1")
          button(type="submit") Create
    br
    a(href='/editTopics')
      |Edit Topics
