include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#topicContent.content
  if !notes
    h1#noNotesFound
      |No Notes Found for this topic!
      br
      |Add your first note under #{topic}
      br
      a(href='/note' + "?topic=" + topic id="createNoteLink")
        |Create a Note!
  else
    h1
      |#{topic}
    ul#noteList
      each note in notes
        li(class="note")
          a(href='/notes/'+ note.title class="noteLink")
            |#{note.title}
    a(href='/note' + "?topic=" + topic id="createNoteLink")
      |Create a note under #{topic}
