mixin universalHeader
  #universalHeader.header
    a(href='/' id="homeButton" class="headerButton")
      |Home
    h1
      | Note Taking App
    a(href='/logout' id="logoutButton" class="headerButton")
      | Logout
