mixin universalHeader
  #universalHeader.header
    #leftOfHeader.headerSide
      a(href='/' id="homeButton" class="headerButton")
        |Home
      a(href='/note' id=noteButton class="headerButton")
        |Create Note
    h1
      |Bekenstein Limit
    #rightOfHeader.headerSide
      a(href='/logout' id="logoutButton" class="headerButton")
        | Logout
