html {
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: monospace;
}

.header {
  background: rgb(80, 124, 124);
  text-align: center;
  color: black;
  width: 100vw;
  height: 5em;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px rgb(30, 45, 45);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

.indexBox {
  background: rgb(80, 124, 124);
  border: solid black;
  box-shadow: 10px 10px rgb(30, 45, 45);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
}
.indexBox form {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
.indexBox form input {
  background-color: rgb(235, 235, 235);
}
.indexBox form button {
  width: 50%;
  align-self: center;
  margin-bottom: 0.5em;
}

.headerButton {
  color: black;
  background-color: rgb(235, 235, 235);
  border: solid;
  text-decoration: none;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profileContent {
  margin-top: 7em;
}

#noTopicsFound {
  text-align: center;
}

#topicList {
  list-style-position: inside;
  padding-left: 0;
}

.topic {
  list-style-type: upper-roman;
  background: rgb(80, 124, 124);
  margin: 2em;
  box-shadow: 5px 5px rgb(30, 45, 45);
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

.topicLink {
  text-decoration: none;
  color: rgb(235, 235, 235);
}
.topicLink:hover {
  color: black;
}

textarea {
  width: 70vw;
  height: 70vh;
  tab-size: 2;
}
