html {
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: monospace;
}

a {
  color: white;
}
a:hover {
  color: gold;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

.indexBox {
  background: rgb(80, 124, 124);
  border: solid black;
  box-shadow: 10px 10px rgb(30, 45, 45);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
}
.indexBox form {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
.indexBox form input {
  background-color: rgb(235, 235, 235);
}
.indexBox form button {
  width: 50%;
  align-self: center;
  margin-bottom: 0.5em;
}

.header {
  background: rgb(80, 124, 124);
  text-align: center;
  color: black;
  width: 100vw;
  height: 5em;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px rgb(30, 45, 45);
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.headerButton {
  color: black;
  background-color: rgb(235, 235, 235);
  border: solid;
  text-decoration: none;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headerButton:hover {
  background: gray;
  color: black;
}

.headerSide {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#profileContent {
  margin-top: 7em;
}

#noTopicsFound {
  text-align: center;
}

#topicList {
  list-style-position: inside;
  padding-left: 0;
}

.topic {
  list-style-type: upper-roman;
  background: rgb(80, 124, 124);
  margin: 2em;
  box-shadow: 5px 5px rgb(30, 45, 45);
  text-align: center;
  font-size: 2em;
  padding: 5px;
}
.topic:hover {
  color: black;
}

.topicLink {
  text-decoration: none;
  color: inherit !important;
}

#noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 70vw;
  align-items: center;
  justify-content: center;
}

.noteCard {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  background-color: rgb(80, 124, 124);
  text-decoration: none;
  border-bottom: solid black;
  border-left: solid black;
  margin-bottom: 20px;
}
.noteCard .noteCardTitle {
  display: flex;
  flex-direction: row;
}
.noteCard .noteCardTitle .noteCardTitleBackground {
  background-color: rgb(55, 85, 85);
  border-top: solid black;
  border-right: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em 0.5em 1em;
}
.noteCard .noteCardTitle .noteCardTitleVoid {
  background-color: rgb(56, 56, 56);
  width: 100%;
  border-top: rgb(56, 56, 56);
  border-right: rgb(56, 56, 56);
}
.noteCard .noteCardInfo {
  border-right: solid black;
  border-top: solid black;
  padding: 1em 0 1em 1em;
  color: black;
  min-height: 200px;
  min-width: 500px;
}

textarea {
  width: 70vw;
  height: 70vh;
  tab-size: 2;
}

.deleteLink {
  background-color: rgb(235, 235, 235);
}
.deleteLink:hover {
  color: red;
}

.topicRow {
  display: flex;
  flex-direction: row;
}
