html {
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: monospace;
}

a {
  color: white;
}
a:hover {
  color: gold;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

#errorText {
  color: red;
}

.indexBox {
  background: rgb(80, 124, 124);
  border: solid black;
  box-shadow: 10px 10px rgb(30, 45, 45);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
}
.indexBox form {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
.indexBox form input {
  background-color: rgb(235, 235, 235);
}
.indexBox form button {
  width: 50%;
  align-self: center;
  margin-bottom: 0.5em;
}

.header {
  background: rgb(80, 124, 124);
  text-align: center;
  color: black;
  width: 100vw;
  height: 5em;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px rgb(30, 45, 45);
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.headerButton, .deleteLink, #deleteContent #dontDeleteButton, #deleteContent button, #noteContent #noteContentHeader #noteContentHeaderRight a {
  color: black;
  background-color: rgb(235, 235, 235);
  border: solid;
  text-decoration: none;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headerButton:hover, .deleteLink:hover, #deleteContent #dontDeleteButton:hover, #deleteContent button:hover, #noteContent #noteContentHeader #noteContentHeaderRight a:hover {
  background: gray;
  color: black;
}

.headerSide {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#profileContent {
  margin-top: 7em;
}

#noTopicsFound {
  text-align: center;
}

#topicList {
  list-style-position: inside;
  padding-left: 0;
}

.topic {
  list-style-type: upper-roman;
  background: rgb(80, 124, 124);
  margin: 2em;
  box-shadow: 5px 5px rgb(30, 45, 45);
  text-align: center;
  font-size: 2em;
  padding: 5px;
}
.topic:hover {
  color: black;
}

.topicLink {
  text-decoration: none;
  color: inherit !important;
}

#createTopic #createTopicHeader {
  text-align: center;
}
#createTopic #createTopicBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
#createTopic input {
  background-color: rgb(235, 235, 235);
}
#createTopic button {
  background-color: rgb(80, 124, 124);
  border: solid black 2px;
}
#createTopic button:hover {
  cursor: pointer;
  background-color: rgb(55, 85, 85);
}

#topicContent {
  margin-top: 5em;
}

#filterForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 124, 124);
  color: black;
  border: solid black;
  box-shadow: rgb(30, 45, 45) 5px 5px;
  padding: 0.5em;
  gap: 1em;
}
#filterForm input {
  background-color: rgb(235, 235, 235);
}
#filterForm button {
  background-color: rgb(55, 85, 85);
  border: solid black 2px;
  color: white;
  width: 30%;
  padding: 0.2em 0 0.2em 0;
  align-self: center;
}
#filterForm button:hover {
  cursor: pointer;
  background-color: rgb(30, 45, 45);
}
#filterForm a {
  background-color: rgb(55, 85, 85);
  border: solid black 2px;
  color: white;
  align-self: center;
  text-align: center;
  text-decoration: none;
  width: 30%;
  padding: 0.2em 0 0.2em 0;
}
#filterForm a:hover {
  cursor: pointer;
  background-color: rgb(30, 45, 45);
}
#filterForm #filterDates {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#noteList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-gap: 20px;
  width: 90vw;
  justify-content: center;
}

.noteCard {
  background-color: rgb(80, 124, 124);
  text-decoration: none;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 375px;
  box-shadow: 5px 5px rgb(30, 45, 45);
}
.noteCard .noteCardTitle {
  display: flex;
  flex-direction: row;
  background-color: rgb(55, 85, 85);
  border: solid black;
  margin: 1em;
  max-width: 70%;
  max-height: 50%;
  text-align: center;
  padding: 0.5em 1em 0.5em 1em;
  display: inline-block;
  overflow-wrap: break-word;
  overflow: hidden;
}
.noteCard .noteCardInfo {
  color: black;
  padding: 0 1em 1em 1em;
  text-align: center;
  max-height: 50%;
  overflow: hidden;
}

#noNotesFound {
  text-align: center;
}

#createNoteContent #createNoteForm, #editContent #createNoteForm, #editContent #editNoteForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70vw;
}
#createNoteContent h3, #editContent h3 {
  display: inline;
}
#createNoteContent button, #editContent button {
  background-color: rgb(80, 124, 124);
  border: solid black 2px;
  font-family: monospace;
  padding: 0.5em;
}
#createNoteContent button h2, #editContent button h2 {
  display: inline;
}
#createNoteContent button:hover, #editContent button:hover {
  cursor: pointer;
  background-color: rgb(55, 85, 85);
}

textarea {
  width: 100%;
  height: 50vh;
  tab-size: 2;
  background-color: rgb(235, 235, 235);
}

input {
  background-color: rgb(235, 235, 235);
  font-family: monospace;
}

select {
  background-color: rgb(235, 235, 235);
  font-family: monospace;
}

#editContent #deleteNoteButton {
  background-color: #7c5050;
}
#editContent #deleteNoteButton:hover {
  background-color: #543636;
}

#noteContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#noteContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
}
#noteContent h1 {
  display: inline;
  margin: 0;
}
#noteContent h3 {
  display: inline;
  margin: 0;
}
#noteContent #noteContentHeader {
  background-color: rgb(80, 124, 124);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em 0.5em 1.5em;
  width: 90vw;
  color: black;
}
#noteContent #noteContentHeader #noteContentHeaderLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#noteContent #noteContentHeader #noteContentHeaderRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#noteContent #noteContentHeader #noteContentHeaderRight a {
  padding: 0.5em;
}
#noteContent #noteMainContent {
  width: 90vw;
  background-color: rgb(64, 64, 64);
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 7px 0;
}
#noteContent #noteMainContent img {
  width: 100%;
  height: auto;
}
#noteContent #noteContentTags {
  background-color: rgb(80, 124, 124);
  display: flex;
  padding: 0.5em 2.5em 0.5em 0.5em;
  width: 90vw;
  color: black;
}
#noteContent #noteContentTags h3 {
  margin-right: 20px;
}
#noteContent #noteContentTags #noteTags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
#noteContent #noteContentTags #noteTags .noteTag {
  background-color: gray;
  border: solid black 1px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
}
#noteContent #noteContentTags #noteTags .noteTag a {
  text-decoration: none;
  color: black;
}
#noteContent #noteContentTags #noteTags .noteTag a:hover {
  color: inherit;
}

#deleteContent #warningText {
  color: red;
}
#deleteContent #deleteData {
  text-align: center;
}
#deleteContent button {
  height: auto;
  width: auto;
  background-color: #7c5050;
  padding: 1em;
}
#deleteContent button:hover {
  background-color: #543636;
  cursor: pointer;
}
#deleteContent a {
  text-align: center;
}
#deleteContent #dontDeleteButton {
  height: auto;
  width: auto;
  text-decoration: none;
  background-color: rgb(80, 124, 124);
  padding: 1em;
}
#deleteContent #dontDeleteButton:hover {
  background-color: rgb(55, 85, 85);
  cursor: pointer;
}

#editTopicsContent {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.deleteLink {
  height: auto;
  width: auto;
  background-color: #7c5050;
  padding: 1em;
  align-self: center;
}
.deleteLink:hover {
  background-color: #543636;
  cursor: pointer;
}

.topicRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  background-color: rgb(64, 64, 64);
  padding: 0.5em;
}
.topicRow h2 {
  max-width: 70%;
}

@media only screen and (max-device-width: 480px) {
  .content {
    margin-top: 20vh;
    font-size: 50px;
    margin-bottom: 5vh;
  }
  .header {
    background: rgb(80, 124, 124);
    text-align: center;
    width: 100vw;
    height: 15vh;
    font-size: 2em;
    align-items: center;
  }
  .headerButton, #noteContent #noteContentHeader #noteContentHeaderRight a, #deleteContent button, #deleteContent #dontDeleteButton, .deleteLink {
    height: 50%;
    width: 5em;
    padding: 1em 0.5em 1em 0.5em;
  }
  .headerSide {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
  }
  input {
    background-color: rgb(235, 235, 235);
    height: 50px;
    width: 500px;
    font-size: 50px;
  }
  select {
    font-size: 50px;
  }
  button {
    font-size: 50px;
  }
  .indexBox {
    width: 90vw;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .indexBox form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1em;
  }
  .indexBox form input {
    background-color: rgb(235, 235, 235);
    height: 50px;
    width: 500px;
  }
  .indexBox form button {
    align-self: center;
    font-size: 50px;
    width: 250px;
    height: 100px;
    margin-bottom: 0.5em;
  }
  #profileContent button {
    font-size: 50px;
  }
  #profileContent #createTopicBody {
    margin: 0 50px;
  }
  #topicContent {
    margin-top: 20vh;
    margin-bottom: 5vh;
  }
  #filterForm button {
    font-size: 50px;
  }
  #noteList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px);
    grid-gap: 50px;
    width: 90vw;
    justify-content: center;
  }
  .noteCard {
    height: 700px;
    width: 375px;
    justify-content: space-around;
  }
  .noteCard .noteCardTitle {
    margin: 1em;
    max-width: 70%;
    max-height: 30%;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 40px;
  }
  .noteCard .noteCardInfo {
    padding: 0 1em 1em 1em;
    max-height: 50%;
    font-size: 35px;
  }
  #noteReturnLink {
    font-size: 35px;
  }
  #noteMainContent {
    font-size: 35px;
  }
  .topicRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    background-color: rgb(64, 64, 64);
    padding: 0.5em;
  }
  .topicRow h2 {
    max-width: 50%;
  }
  #deleteContent #dontDeleteButton {
    width: 90vw;
  }
  #deleteContent #deleteButton {
    width: 70vw;
  }
  #deleteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #page404 {
    font-size: 100px;
  }
}
