$mid_teal: rgb(80,124,124);
$dark_gray: rgb(100,100,100);
$back_gray: rgb(56,56,56);
$off_back_gray:rgb(64,64,64);
$shadow_teal: rgb(30,45,45);
$dark_teal:rgb(55,85,85);
$off_white:rgb(235,235,235);
$danger_color:#7c5050;
$danger_hover:#543636;

html {
  background-color: $back_gray;
  color: white;
  font-family: monospace;
}

//general link styling
a{
  color:white;
  &:hover {
    color:gold;
  }
}
//used on the index page:
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:10em;
}

#errorText{
  color:red;
}

.indexBox {
    background: $mid_teal;
    border: solid black;
    box-shadow: 10px 10px $shadow_teal;
    color:black;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:30em;
    form{
      display:flex;
      flex-direction: column;
      gap:0.1em;

      input{
        background-color:$off_white;
      }

      button{
        width:50%;
        align-self: center;
        margin-bottom: 0.5em;
      }
    }
}

//used in universal header:
.header {
  background: $mid_teal;
  text-align: center;
  color:black;
  width:100vw;
  height:5em;
  top:0;
  left:0;
  position:fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px $shadow_teal;
  display:grid;
  grid-template-columns: 20% 60% 20%
}

.headerButton{
  color:black;
  background-color: $off_white;
  border: solid;
  text-decoration: none;
  height:30px;
  width:50px;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  &:hover{
    background:gray;
    color:black;
  }
}

.headerSide{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
}

//used on the profile page:

#profileContent{
  margin-top:7em;
}
#noTopicsFound{
  text-align: center;
}

#topicList{
  list-style-position: inside;
  padding-left: 0;
}

.topic{
  list-style-type: upper-roman;
  background:$mid_teal;
  margin:2em;
  box-shadow: 5px 5px $shadow_teal;
  text-align: center;
  font-size: 2em;
  padding:5px;
  &:hover {
    color:black;
  }
}

.topicLink{
  text-decoration: none;
  color:inherit !important;
}

#createTopic{
  #createTopicHeader{
    text-align: center;
  }
  #createTopicBody{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:10px;
  }
  input{
    background-color: $off_white;
  }
  button{
    background-color: $mid_teal;
    border:solid black 2px;
    &:hover{
      cursor: pointer;
      background-color: $dark_teal;
    }
  }
}

//used in the topic page
$noteCardBorder:solid black;

#topicContent{
  margin-top: 5em;
}

#filterForm{
  display:flex;
  flex-direction: column;
  background-color: $mid-teal;
  color:black;
  border: solid black;
  box-shadow: $shadow_teal 5px 5px;
  padding: 0.5em;
  gap:1em;
  //width:70%;
  input{
    background-color: $off_white;
  }
  button{
    background-color: $dark_teal;
    border:solid black 2px;
    color:white;
    width:30%;
    padding: 0.2em 0 0.2em 0;
    align-self: center;
    &:hover{
      cursor: pointer;
      background-color: $shadow_teal;
    }
  }
  a{
    background-color: $dark_teal;
    border:solid black 2px;
    color:white;
    align-self: center;
    text-align: center;
    text-decoration: none;
    width: 30%;
    padding: 0.2em 0 0.2em 0;
    &:hover{
      cursor: pointer;
      background-color: $shadow_teal;
    }
  }
  #filterDates{
    display:flex;
    flex-direction: column;
    gap:0.5em;
  }
}

#noteList{
  display:grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-gap: 20px;
  width:90vw;
  justify-content: center;
}

.noteCard{
  background-color: $mid_teal;
  text-decoration: none;
  border:$noteCardBorder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150px;
  width:375px;
  box-shadow: 5px 5px $shadow_teal;
    .noteCardTitle{
      display: flex;
      flex-direction: row;
      background-color: $dark_teal;
      border: $noteCardBorder;
      margin: 1em;
      max-width: 70%;
      max-height: 50%;
      text-align: center;
      padding: 0.5em 1em 0.5em 1em;
      display: inline-block;
      overflow-wrap: break-word;
      overflow: hidden;
    }
    .noteCardInfo{
      color:black;
      padding:0 1em 1em 1em;
      text-align: center;
      max-height:50%;
      overflow:hidden;
    }
}

#noNotesFound{
  text-align: center;
}

//Used in the create note page
#createNoteContent{
  #createNoteForm{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:70vw;
  }

  h3{
    display: inline;
  }

  button{
    background-color: $mid_teal;
    border:solid black 2px;
    font-family: monospace;
    padding: 0.5em;
    h2{
      display: inline;
    }
    &:hover{
      cursor: pointer;
      background-color: $dark_teal;
    }
  }

}

textarea{
  width:100%;
  height:50vh;
  tab-size: 2;
  background-color: $off_white;
}
input{
  background-color: $off_white;
  font-family: monospace;
}
select{
  background-color: $off_white;
  font-family: monospace;
}

//used in the edit note page
#editContent{
  @extend #createNoteContent;
  #editNoteForm{
    @extend #createNoteForm;
  }
  #deleteNoteButton{
    background-color: $danger_color;
    &:hover{
      background-color: $danger_hover;
    }
  }
}

//used in the note page
#noteContentWrapper{
  //wraps everything
  display: flex;
  justify-content: center;
  align-items: center;
}

#noteContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
  h1{
    display: inline;
    margin:0;
  }
  h3{
    display: inline;
    margin:0;
  }

  #noteContentHeader{
    background-color: $mid-teal;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em 0.5em 1.5em;
    width:90vw;
    color:black;
    #noteContentHeaderLeft{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    #noteContentHeaderRight{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a{
        @extend .headerButton;
        padding:0.5em;
      }
    }
  }

  #noteMainContent{
    width:90vw;
    background-color: $off_back_gray;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin:7px 0;
    img{
      width:100%;
      height:auto;
    }
  }

  #noteContentTags{
    background-color: $mid-teal;
    display: flex;
    padding: 0.5em 2.5em 0.5em 0.5em;
    width:90vw;
    color:black;
    h3{
      margin-right: 20px;
    }
    #noteTags{
      display:flex;
      gap:5px;
      flex-wrap: wrap;
      .noteTag{
        background-color: gray;
        border:solid black 1px;
        padding:0.5em 1em 0.5em 1em;
        border-radius: 5px;
        a{
          text-decoration: none;
          color:black;
          &:hover{
            color:inherit;
          }
        }
      }
    }
  }
}

//used in delete
#deleteContent{
  #warningText{
    color:red;
  }

  #deleteData{
    text-align: center;
  }

  button{
    @extend .headerButton;
    height:auto;
    width: auto;
    background-color: $danger_color;
    padding:1em;
    &:hover{
      background-color: $danger_hover;
      cursor: pointer;
    }
  }

  a{
    text-align: center;
  }

  #dontDeleteButton{
    @extend .headerButton;
    height:auto;
    width: auto;
    text-decoration: none;
    background-color: $mid-teal;
    padding:1em;
    &:hover{
      background-color: $dark_teal;
      cursor: pointer;
    }
  }
}

//used in editTopics
#editTopicsContent{
  display: flex;
  gap:30px;
  flex-direction: column;
}
.deleteLink{
  @extend .headerButton;
  height:auto;
  width: auto;
  background-color: $danger_color;
  padding:1em;
  align-self: center;
  &:hover{
    background-color: $danger_hover;
    cursor: pointer;
  }
}

.topicRow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:50vw;
  background-color: $off_back_gray;
  padding: 0.5em;
  h2{
    max-width:70%;
  }
}
//used in the markdown example
#markdownExample{
  display: flex;
  gap:5vw;
  margin:0 2.5vw;
  align-items: center;
  img{
    width:70%;
    height:auto;
  }

  #plainText{
    background-color: $off_back_gray;
    width:40vw;
    height:100%;
    border: solid black;
    padding:1em;
    word-wrap: break-word;
  }

  #renderedText{
    @extend #plainText;
    height:auto;
  }
}


//everything but for mobile
@media only screen and (max-device-width: 480px){
  .content{
    margin-top:20vh;
    font-size: 50px;
    margin-bottom:5vh;
  }

  .header{
    background: $mid_teal;
    text-align: center;
    width:100vw;
    height:15vh;
    font-size:2em;
    align-items: center;
  }

  .headerButton{
    height:50%;
    width:5em;
    padding:1em 0.5em 1em 0.5em;
  }


  .headerSide{
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;
    margin:0 2em;
  }

  input{
    background-color:$off_white;
    height:50px;
    width:500px;
    font-size:50px;
  }

  select{
    font-size: 50px;
  }

  button{
    font-size: 50px;
  }


  .indexBox {
    width:90vw;
    font-size: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    form{
      display:flex;
      flex-direction: column;
      align-items:flex-start;
      gap:0.1em;
      input{
        background-color:$off_white;
        height:50px;
        width:500px;
      }

      button{
        align-self:center;
        font-size: 50px;
        width:250px;
        height: 100px;
        margin-bottom: 0.5em;
      }
    }
  }

  #profileContent{
    button{
      font-size: 50px;
    }

    #createTopicBody{
      margin:0 50px;
    }
  }

  #topicContent{
    margin-top: 20vh;
    margin-bottom: 5vh;
  }

  #filterForm{
    button{
      font-size:50px;
    }
  }

  #noteList{
    display:grid;
    grid-template-columns: repeat(auto-fit, 375px);
    grid-gap: 50px;
    width:90vw;
    justify-content: center;
  }

  .noteCard{
    height:700px;
    width:375px;
    justify-content: space-around;
      .noteCardTitle{
        margin: 1em;
        max-width: 70%;
        max-height: 30%;
        text-align: center;
        padding: 0.5em 1em 0.5em 1em;
        font-size:40px;
      }
      .noteCardInfo{
        padding:0 1em 1em 1em;
        max-height:50%;
        font-size:35px;
      }
  }

  #noteReturnLink{
    font-size: 35px;
  }

  #noteMainContent{
    font-size:35px;
  }

  .topicRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:90vw;
    background-color: $off_back_gray;
    padding: 0.5em;
    h2{
      max-width:50%;
    }
  }
  #deleteContent{
    #dontDeleteButton{
      width:90vw;
    }

    #deleteButton{
      width:70vw;
    }
  }

  #deleteForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #page404{
    font-size: 100px;
  }

  #markdownExample{
    flex-direction: column;
    #plainText{
      width:90vw;
      height:auto;
      font-size:30px;

    }
  }

}
