$mid_teal: rgb(80,124,124);
$dark_gray: rgb(100,100,100);
$back_gray: rgb(56,56,56);
$shadow_teal: rgb(30,45,45);
$dark_teal:rgb(55,85,85);
$off_white:rgb(235,235,235);

html {
  background-color: $back_gray;
  color: white;
  font-family: monospace;
}

//general link styling
a{
  color:white;
  &:hover {
    color:gold;
  }
}
//used on the index page:
.header {
  background: $mid_teal;
  text-align: center;
  color:black;
  width:100vw;
  height:5em;
  top:0;
  left:0;
  position:fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px $shadow_teal;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:10em;
}

.indexBox {
    background: $mid_teal;
    border: solid black;
    box-shadow: 10px 10px $shadow_teal;
    color:black;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:30em;
    form{
      display:flex;
      flex-direction: column;
      gap:0.1em;

      input{
        background-color:$off_white;
      }

      button{
        width:50%;
        align-self: center;
        margin-bottom: 0.5em;
      }
    }
}

//used on the profile page:

.headerButton{
  color:black;
  background-color: $off_white;
  border: solid;
  text-decoration: none;
  height:30px;
  width:50px;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  &:hover{
    background:gray;
    color:black;
  }
}


#profileContent{
  margin-top:7em;
}
#noTopicsFound{
  text-align: center;
}

#topicList{
  list-style-position: inside;
  padding-left: 0;
}

.topic{
  list-style-type: upper-roman;
  background:$mid_teal;
  margin:2em;
  box-shadow: 5px 5px $shadow_teal;
  text-align: center;
  font-size: 2em;
  padding:5px;
  &:hover {
    color:black;
  }
}

.topicLink{
  text-decoration: none;
  color:inherit !important;
}

//Used in the create note page
textarea{
  width:70vw;
  height:70vh;
  tab-size: 2;
}

//used in editTopics
.deleteLink{
  background-color: $off_white;
  &:hover{
    color:red;
  }
}

.topicRow{
  display:flex;
  flex-direction: row;
}
