$mid_teal: rgb(80,124,124);
$dark_gray: rgb(100,100,100);
$back_gray: rgb(56,56,56);
$shadow_teal: rgb(30,45,45);
$dark_teal:rgb(55,85,85);
$off_white:rgb(235,235,235);

html {
  background-color: $back_gray;
  color: white;
  font-family: monospace;
}

//general link styling
a{
  color:white;
  &:hover {
    color:gold;
  }
}
//used on the index page:
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:10em;
}

.indexBox {
    background: $mid_teal;
    border: solid black;
    box-shadow: 10px 10px $shadow_teal;
    color:black;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:30em;
    form{
      display:flex;
      flex-direction: column;
      gap:0.1em;

      input{
        background-color:$off_white;
      }

      button{
        width:50%;
        align-self: center;
        margin-bottom: 0.5em;
      }
    }
}

//used in universal header:
.header {
  background: $mid_teal;
  text-align: center;
  color:black;
  width:100vw;
  height:5em;
  top:0;
  left:0;
  position:fixed;
  border-bottom: solid black;
  box-shadow: 0px 5px $shadow_teal;
  display:grid;
  grid-template-columns: 20% 60% 20%
}

.headerButton{
  color:black;
  background-color: $off_white;
  border: solid;
  text-decoration: none;
  height:30px;
  width:50px;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  &:hover{
    background:gray;
    color:black;
  }
}

.headerSide{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
}

//used on the profile page:

#profileContent{
  margin-top:7em;
}
#noTopicsFound{
  text-align: center;
}

#topicList{
  list-style-position: inside;
  padding-left: 0;
}

.topic{
  list-style-type: upper-roman;
  background:$mid_teal;
  margin:2em;
  box-shadow: 5px 5px $shadow_teal;
  text-align: center;
  font-size: 2em;
  padding:5px;
  &:hover {
    color:black;
  }
}

.topicLink{
  text-decoration: none;
  color:inherit !important;
}

#createTopic{
  #createTopicHeader{
    text-align: center;
  }
  #createTopicBody{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:10px;
  }
  input{
    background-color: $off_white;
  }
  button{
    background-color: $mid_teal;
    border:solid black 2px;
    &:hover{
      cursor: pointer;
      background-color: $dark_teal;
    }
  }
}

//used in the topic page
$noteCardBorder:solid black;

#topicContent{
  margin-top: 5em;
}

#filterForm{
  display:flex;
  flex-direction: column;
  background-color: $mid-teal;
  color:black;
  border: solid black;
  box-shadow: $shadow_teal 5px 5px;
  padding: 0.5em;
  gap:1em;
  //width:70%;
  input{
    background-color: $off_white;
  }
  button{
    background-color: $dark_teal;
    border:solid black 2px;
    color:white;
    width:30%;
    padding: 0.2em 0 0.2em 0;
    align-self: center;
    &:hover{
      cursor: pointer;
      background-color: $shadow_teal;
    }
  }
  a{
    background-color: $dark_teal;
    border:solid black 2px;
    color:white;
    align-self: center;
    text-align: center;
    text-decoration: none;
    width: 30%;
    padding: 0.2em 0 0.2em 0;
    &:hover{
      cursor: pointer;
      background-color: $shadow_teal;
    }
  }
  #filterDates{
    display:flex;
    flex-direction: column;
    gap:0.5em;
  }
}

#noteList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
  max-width: 90vw;
  align-items: center;
  justify-content: space-between;
}

.noteCard{
  background-color: $mid_teal;
  text-decoration: none;
  border:$noteCardBorder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150px;
  width:375px;
  box-shadow: 5px 5px $shadow_teal;
    .noteCardTitle{
      display: flex;
      flex-direction: row;
      background-color: $dark_teal;
      border: $noteCardBorder;
      margin: 1em;
      max-width: 70%;
      max-height: 50%;
      text-align: center;
      padding: 0.5em 1em 0.5em 1em;
      display: inline-block;
      overflow-wrap: break-word;
      overflow: hidden;
    }
    .noteCardInfo{
      color:black;
      padding:0 1em 1em 1em;
      text-align: center;
      max-height:50%;
      overflow:hidden;
    }
}

#noNotesFound{
  text-align: center;
}

//Used in the create note page
textarea{
  width:70vw;
  height:70vh;
  tab-size: 2;
}

//used in editTopics
.deleteLink{
  background-color: $off_white;
  &:hover{
    color:red;
  }
}

.topicRow{
  display:flex;
  flex-direction: row;
}
